 <!--@pre_member= Crew.find(params[:id]).rolls-->
<h1>가입신청 목록</h1>

<table>
  <thead>
    <tr>
      <th>신청자</th>
      <th>비고</th>
    </tr>
  </thead>

  <tbody>
    <%= @pre_member.each do |roll|%>
    <%if roll.is_signed? == "sign_ing"%>
          <tr>
            <td><%= User.find(roll.user_id).email%></td>
            <td><%= link_to "승인" , "/signing/#{User.find(roll.user_id).id}/ok"%></td>
          </tr>
      <%end%>
    <% end %>
  </tbody>
</table>
        
    
